* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255,255,255,0.5);
  --surface-color: rgba(255,255,255,0.1);
  --surface-color-hover:  rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255,255,255,0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light{
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0,0,0,0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover:rgba(0,0,0,0.5);
  --highlight-color: rgba(0,0,0,0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*
  background-image: url(./assets/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
  width: 100vw;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto auto auto;
  padding: 0px 24px;
}

/* profile */
#profile img {
  width: 112px;
  margin: auto;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */

#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  left: 0;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  animation: slide-out 0.5s;
}

.light #switch button {
  animation: slide-in 0.5s forwards;
}

#switch span{
  display: block;
  width:64px;
  height:24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur 4px; 
  -webkit-backdrop-filter: blur 4px;
  border-radius: 9999px;
}

/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding : 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: all 0.2s;
}

ul li a:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#icons {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px 0;
  margin-top: 32px;
  font-size: 24px;
}

#icons a {
  display:flex;
  align-items: center;
  padding: 16px;
  transition: all 0.2s;
  border-radius: 50%;
}

#icons a:hover {
  background: var(--highlight-color);
}

footer{
  padding: 24px 0;
  text-align: center;
  font-size: 12px;
}

/* Media Queries */
@media (min-width: 600px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */
@keyframes slide-in{
  from{
    left: 0;
  }
  to{
    left:50%;
  }
}

@keyframes slide-out {
  from{
    left:50%;
  }
  to{
    left:0%;
  }
}